<!-- Create profile modal box -->
<div class="modal fade" id="createprofileModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">{{t 'modal.title'}}</h4>
            </div>
            <div class="modal-body">
                <p>{{t "modal.text"}}</p>
                <span data-dismiss="modal">
                    {{#link-to 'wwoofers.new' class="btn btn-primary col-md-offset-2"}} {{t 'modal.wantToBeWwoofer'}}{{/link-to}}
                    {{#link-to 'hosts.new'  class="btn btn-primary"}}{{t 'modal.wantToBeHost'}}{{/link-to}}
                </span>
            </div>
        </div>
    </div>
</div>
