<div class='input-group date' id='datetimepicker'>
    {{input type="text" class="form-control" value=dateString}}
    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
</div>
