<div class="row">
  <div class="col-xs-3">
    {{#power-select
    selected=_selectedDay
    options=days
    placeholder=(t 'date-picker.day.prompt')
    onchange=(action 'dayDidChange')
    as |day|}}
      {{day}}
    {{/power-select}}
  </div>
  <div class="col-xs-6">
    {{#power-select
    selected=_selectedMonth
    options=months
    searchField='name'
    placeholder=(t 'date-picker.month.prompt')
    onchange=(action 'monthDidChange')
    as |month|}}
      <span class="text-capitalize">{{month.name}}</span>
    {{/power-select}}
  </div>
  <div class="col-xs-3">
    {{#power-select
    selected=_selectedYear
    options=years
    placeholder=(t 'date-picker.year.prompt')
    onchange=(action 'yearDidChange')
    as |year|}}
      {{year}}
    {{/power-select}}
  </div>
</div>
