<div class="row">
  <div class="col-xs-3">
    {{view "select"
    content=days
    selection=_selectedDay
    class="form-control"}}
  </div>
  <div class="col-xs-6">
    {{view "select"
    content=months
    optionValuePath="content.value"
    optionLabelPath="content.name"
    selection=_selectedMonth
    class="form-control"}}
  </div>
  <div class="col-xs-3">
    {{view "select"
    content=years
    selection=_selectedYear
    class="form-control"}}
  </div>
</div>
