{{convert-breaklines displayedText}}
<strong>
    <a href="#" {{action 'toggle'}}>
        {{#if isExpanded}}
            Hide
        {{else}}
            Show more
        {{/if}}
    </a>
</strong>
