<div class="leaflet-popup">
    {{#link-to "host" hostId title=farmName }}
        {{host-thumb url=photoUrl}}
        <div class="leaflet-popup-farm-name mts">
            {{farmName}}
        </div>
    {{/link-to}}
</div>
