<div class="leaflet-popup">
    {{#link-to "host" hostId title=farmName}}
        {{image-thumb url=photoUrl classNames="host-thumb"}}
        <div class="leaflet-popup-farm-name mts">
            {{farmName}}
        </div>
    {{/link-to}}
</div>
