<div class="leaflet-popup">
  {{#link-to "host" hostId title=farmName}}
    {{image-thumb src=photoUrl class='mbx'}}
    <div class="leaflet-popup-farm-name mts">
      {{farmName}}
    </div>
  {{/link-to}}
</div>
