{{#link-to 'host' host.id title=host.displayedFarmName}}
  <img class="img-responsive thumbnail" src={{host.displayedThumbnail.urlLarge}} />
{{/link-to}}
<div class="mini-host-item-title text-center">
  {{host.displayedFarmName}}
  <br>
  {{host.address.city}}
</div>
