<div id="payment-form"></div>
<button class="btn btn-primary mts btn-block" disabled={{disableSubmit}}>
  <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> {{t 'payment-form.pay'}}
</button>
