<form>
  <p>
    <i>
      <small>{{t 'photo-uploader.limitations'}}</small>
    </i>
  </p>
  <div class="form-group">
    <input id="file_upload" type="file" name="file" data-url={{dataUrl}}>
  </div>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</form>
