#resultList {
  padding-top: 20px;

  @media (min-width: @screen-md-min) {
    position: fixed;
    top: @navbar-height;
    bottom: 0;
    overflow-y: auto;
  }
}

#resultMap {
  position: fixed;
  top: @navbar-height;
  bottom: 0;
  right: 0;
}

.col-host-thumb {
  margin: -15px 0 -15px -15px;
}

.overflow-ellipsis {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.host-item-caption h3 {
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-control-label {
  margin-bottom: 0;
  padding-top: 9px;
}

.toggle-options-cols {
  .checkbox-inline {
    min-width: 130px;
    margin-left: 0;
    margin-right: 20px;
  }
}

.radio-options-cols {
  .radio-inline {
    min-width: 130px;
    margin-left: 0;
    margin-right: 20px;
  }
}

.leaflet-container {
  height: 100%;
}

.leaflet-popup-content-wrapper {
  border-radius: 4px;
  background-color: @body-bg;
}

.leaflet-popup {
  width: 250px;
}

.leaflet-popup-content {
  margin: 10px;
}

.leaflet-popup-farm-name {
  font-weight: bold;
  color: @gray-light;
}

.hr-wider {
  border-width: 4px;
}
