.host-photos-carousel {
  height: 300px;
}
.label-activity {
  background-color: @brand-primary;
  font-size: @font-size-small;
  font-weight: normal;
}

// Opening months must be capitalized
.opening-month {
  text-transform: capitalize;
  height: 30px;
  white-space: nowrap;
}
