.host-item-caption h3 {
  line-height: normal;
  margin-top: 5px;
  margin-bottom: 10px;
}

.overflow-ellipsis {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.glyphicon-larger {
  font-size: 1.3em;
}

.host-item a:hover {
  text-decoration: none;
}

.host-item {
  position: relative;
}

.host-item .btn-group-vertical {
  position: absolute;
  right: 5px;
  top: 5px;
}

.host-item .btn-group-vertical .btn {
  border-radius: 0 !important;
  padding-top: 4px;
  padding-bottom: 2px;
}

.host-item .btn-group-vertical .btn:first-child {
  padding-top: 4px;
  padding-bottom: 0;
}

.host-item .btn-group-vertical div.btn {
  cursor: default;
}
