body {
    padding-top: @navbar-height + 20;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
}

.alert-with-button .btn {
  float: right;
  display: block;
}
.alert-with-button {
  line-height: 36px;
}
.spinkit-three-bounce-spinner div {
  background-color: #7bb03f;
}
.page-header {
  margin-top: 20px;
}
@media(min-width: @screen-sm-min) {
  .page-header {
    margin-top: 40px;
  }
}
