body {
    padding-top: @navbar-height + 20;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
}

// Ugly alerts to remove
.alert-with-button .btn {
  float: right;
  display: block;
}
.alert-with-button {
  line-height: 36px;
}

// Green spinkit
.spinner div {
  background-color: #7bb03f;
}

// Page header (mobile and desktop)
.page-header {
  margin-top: 20px;
}
@media(min-width: @screen-sm-min) {
  .page-header {
    margin-top: 40px;
  }
}

// Search button must be white
a.input-group-addon {
  color: #fff;
}

// Contact page browser warning
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #dddddd;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout-danger {
  border-left-color: #ce4844;
}
.bs-callout-danger h4 {
  color: #ce4844;
}

// Error messages under form fields
span.error {
  display: block;
  margin-top: 3px;
  padding: 0 7px;
  background: @brand-danger;
  color: #fff!important;
  font-size: 85%;
  border-radius: 2px;
}
