#resultList {
    padding-top: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    clear: both;
}
.col-host-thumb {
    margin: -15px 0 -15px -15px;
}
.host-thumb {
    height: 200px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.toggle-options-cols {
    .checkbox-inline {
        min-width: 130px;
        margin-left: 20px;
    }
}
