<div class="col-md-10 col-md-offset-1">
    <div class="page-header">
        <h1>{{t 'payment.cancel.title'}}</h1>
    </div>

    <p>{{t 'payment.cancel.instructions'}}</p>

    {{#link-to 'index' class="btn btn-primary pull-right"}}{{t 'literal.continue'}}{{/link-to}}
</div>
