<div class="page-header">
    <h1>{{t 'payment.complete.title'}}</h1>
</div>

<p>{{t 'payment.complete.instructions'}}</p>

{{#link-to 'index' class="btn btn-primary pull-right"}}{{t 'literal.continue'}}{{/link-to}}
