<p>Your payment is complete.
    Your are now a member of Wwoof France and gained complete access to the list of hosts and wwoofers.</p>

{{#link-to 'index' class="btn btn-primary"}}Continue{{/link-to}}