{{#link-to "host" properties.hostId title=properties.farmName }}
    {{#if properties.photoId}}
        {{host-thumb url=view.photo.completeUrl}}
    {{else}}
        {{host-thumb url="assets/images/wwoof-no-photo.png"}}
    {{/if}}
    <div class="leaflet-popup-farm-name mts">
        {{properties.farmName}}
    </div>
{{/link-to}}
