{{#link-to "host" properties.hostId title=properties.farmName }}
    {{#if properties.photo}}
        {{host-thumb url=view.completeUrl}}
    {{else}}
        {{host-thumb url="assets/images/wwoof-no-photo.png"}}
    {{/if}}
    <div class="popupFarnName">
        {{properties.farmName}}
    </div>
{{/link-to}}
