<form class="form-horizontal">
  {{wwoofer-form
  wwoofer=wwoofer
  validations=validations}}

  <div class="form-group">
    <div class="col-xs-12">
      <button {{action 'saveWwoofer'}} class="btn btn-primary" disabled={{wwoofer.isSaving}}>
        {{t 'literal.save'}}
      </button>
    </div>
  </div>
</form>
