{{#if hasWwoofMemberships}}
    {{#unless latestWwoofMembership.isStillValidInAMonth}}
        <div class="alert alert-warning alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-exclamation-sign"></span>

            Your wwoofer membership
            {{#if latestWwoofMembership.isExpired}}
                is expired since
            {{else}}
                will expire
            {{/if}}
            {{format-date latestWwoofMembership.expireAt}}.

            To keep your access to all farms contact information, you must
            {{#link-to 'memberships.new' (query-params type='W') class="alert-link"}}renew your membership{{/link-to}}.
        </div>
    {{/unless}}
{{else}}
    <div class="alert alert-info alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span class="glyphicon glyphicon-info-sign"></span>
        Your profile is complete! In order to have access to all farms contact information (email, phone, address), you must
        {{#link-to 'memberships.new' (query-params type='W') class="alert-link"}}pay your membership fee{{/link-to}}.
    </div>
{{/if}}