{{#if belongsToCurrentUser}}
    {{#if hasWwoofMemberships}}
        {{#if latestWwoofMembership.isExpired}}
            <div class="alert alert-warning alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                Your wwoofer membership is expired.
                To get access to all farms contact information, you must
                {{#link-to 'wwoofer.membership' class="alert-link"}}pay your membership fee{{/link-to}}.
            </div>
        {{/if}}
    {{else}}
        <div class="alert alert-info alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-info-sign"></span>
            Your profile is complete! In order to have access to all farms contact information (email, phone, address), you must
            {{#link-to 'wwoofer.membership' class="alert-link"}}pay your membership fee{{/link-to}}.
        </div>
    {{/if}}
{{/if}}