<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{t 'user.photo.new'}}</h3>
    </div>
    <div class="panel-body">
        <form>
            <p>
                <i><small>{{t 'host.photos.limitations'}}</small></i>
            </p>
            <div class="form-group">
                <input id="file_upload" type="file" name="file" data-url="api/photos">
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </form>
    </div>
</div>
