{{#if currentFavorites}}
  <div class="row">
    {{#each currentFavorites as |favorite|}}
      <div class="col-xs-12 col-sm-6 col-host-item">
        {{host-item
          hostId=favorite.id
          userFavorites=user.favorites
          addFavorite='addFavorite'
          removeFavorite='removeFavorite'}}
      </div>
    {{/each}}
  </div>

  <p class="text-center">
    {{list-pagination currentPage=page totalPages=totalPages targetRoute='user.favorites'}}
  </p>
{{else}}
  <p class="lead text-center mtl">{{t 'user.favorites.noFavorites'}}</p>
{{/if}}
