<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {{#each messages as |message|}}
    <tr>
      <td>{{message.text}}</td>
      <td>{{message.createdAt}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>