{{#each messages as |message|}}
  <div class="panel panel-default {{unless message.isCurrentUserAuthor 'col-xs-offset-1'}}">
    <div class="panel-body">
      <td>{{message.text}}</td>
    </div>
  </div>
{{/each}}
