body {
    padding-top: 70px;
}

.list-group-item {
    text-transform: capitalize;
}

.host-gallery {
    width: 500px;
    height: 281px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    margin-top: 20px;
}

.host-gallery .slide img {
    max-width: 500px;
}

.host-thumb {
    width: 200px;
    height: 132px;
    overflow: hidden;
}

.host-thumb-small {
    width: 100px;
    height: 66px;
    overflow: hidden;
}

.host-thumb img,
.host-thumb-small img {
    width: 100%;
}

span.error {
    display: block;
    margin-top: 3px;
    padding: 0 7px;
    background: #b41b3b;
    color: #fff !important;
    font-size: 85%;
    border-radius: 2px;
}