<div class="page-header">
    <h1>Take Or Renew Your Membership</h1>
</div>

<p>In order to have access to all farms contact information (email, phone, address),
    you must pay your membership fee.</p>

<form>
    <div class="row">
        {{#if showWwoofMemberships}}
            <div class="form-group col-md-12">
                <label for="wwoofMembership" class="control-label">Wwoofer Membership</label>
                {{view Ember.Select
                content=wwoofMembershipOptions
                optionValuePath="content.id"
                optionLabelPath="content.name"
                value=itemCode
                id="wwoofMembership"
                class="form-control"}}
            </div>
        {{/if}}
        {{#if showShippingFees}}
            <div class="form-group col-md-12">
                <label for="wwoofMembership" class="control-label">Shipping Fees</label>
                {{view Ember.Select
                content=shippingFees
                optionValuePath="content.id"
                optionLabelPath="content.name"
                value=shippingFee
                id="shippingFees"
                class="form-control"}}
            </div>
        {{/if}}
        {{#if showHostMemberships}}
            <div class="form-group col-md-12">
                <label for="hostMembership" class="control-label">Host Membership</label>
                {{view Ember.Select
                content=hostMembershipOptions
                optionValuePath="content.id"
                optionLabelPath="content.name"
                value=itemCode
                id="hostMembership"
                class="form-control"}}
            </div>
        {{/if}}
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Pay via Paypal</h4>
                </div>
                <div class="panel-body">
                    <p>The easiest way to go!</p>
                    <button {{action "initPayment" itemCode shippingFee}} class="btn btn-primary">Pay with Paypal</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Pay via Check or Cash</h4>
                </div>
                <div class="panel-body">
                    <p>Send your payment with your contact information at:</p>

                    Virginie LOPEZ<br/>
                    WWOOF France<br/>
                    86 bis, rue Principale<br/>33460 LAMARQUE<br/>
                    FRANCE
                </div>
            </div>
        </div>
    </div>
</form>