<form class="form-horizontal">
  {{host-form
  host=host
  validations=validations}}

  <div class="form-group">
    <div class="col-xs-12">
      <button {{action 'saveHost'}} class="btn btn-primary" disabled={{host.isSaving}}>
        {{t 'literal.save'}}
      </button>
    </div>
  </div>
</form>
