{{#if hasHostMemberships}}
    {{#if latestHostMembership.isStillValidInAMonth}}
        <div class="alert alert-warning alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-exclamation-sign"></span>

            Your host profile
            {{#if latestHostMembership.isExpired}}
                is disabled since {{format-date latestHostMembership.expireAt}}. To make it visible again
            {{else}}
                will be disabled {{format-date latestHostMembership.expireAt}}. To keep it visible
            {{/if}}
             to the community, you must
            {{#link-to 'memberships.new' (query-params type='H' itemCode='HR') class="alert-link"}}renew your membership{{/link-to}}.
        </div>
    {{/if}}
{{else}}
    <div class="alert alert-info alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span class="glyphicon glyphicon-info-sign"></span>
        Your host profile has been validated by our team!
        To make it visible to the community, you must
        {{#link-to 'memberships.new' (query-params type='H' itemCode='H') class="alert-link"}}pay your membership fee{{/link-to}}.
    </div>
{{/if}}