<div class="error-404-bg-container">
  <div class="error-404-bg"></div>
</div>
<div class="row error-404-content">
  <div class="col-xs-8 col-sm-4 col-xs-offset-1 col-md-offset-2">
    <p>Bawk bawk! Farm not found!</p>

    <p>
      You may have taken a wrong turn and ended up in the barnyard.
    </p>

    <p>
      Run away from the angry chicken!
    </p>
  </div>
</div>
