<h1>
  Before continuing, let's complete your profile
</h1>

<ul>
  <li>Introduce yourself briefly to help the hosts know more about you</li>
  <li>For your safety, we need your address and a phone number (not shared with the hosts)</li>
  <li>Become a member of WWOOF France</li>
</ul>

{{#link-to 'user.edit' sessionUser.user.id class='btn btn-primary'}}
  Complete Your Profile &rsaquo;&rsaquo;
{{/link-to}}